.git
.env
.env.*
.venv
.cache
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
coverage.xml
.idea
.vscode
dist
build
**/*.egg-info
*.log
*.tmp
postgres-data
tests
docs
.github
.DS_Store
Thumbs.db
